{% extends "raspberry_gateway/base.html" %}

{% block content %}
<div class="row">
  <h4>Hi, {{ user.name }}!</h4>
  <p>Click to open/close Raspberry Gateway:</p>
  <form id="operate-btn" action="/operate_door" method="post">
    {% csrf_token %}
    {% if door_closed %}
    <button class="btn btn-large waves-effect waves-light blue" type="submit" name="action">Open Garage Door</button>
    {% else %}
    <button class="btn btn-large waves-effect waves-light orange" type="submit" name="action">Close Garage Door</button>
    {% endif %}
  </form>

  {% if door_closed %}
    <p>Door status: Closed</p>
  {% else %}
    <p>Door status: Open</p>
  {% endif %}

</div>
{% endblock %}
