{% extends "raspberry_gateway/base.html" %}

{% block content %}
    <h3>Welcome to Raspberry Gateway.</h3>
    <form action="/users/login" method="POST">
      {% csrf_token %}
      <!-- login email input -->
      <div class="row">
        <div class="input-field col s12 m8 l8">
          <i class="material-icons prefix">mail_outline</i>
          <label for="email">E-mail</label>
          <input id="email" class="validate" type="text" name="email">
        </div>
      </div>
      <!-- login password input -->
      <div class="row">
        <div class="input-field col s12 m8 l8">
          <i class="material-icons prefix">lock_outline</i>
          <label for="password">Password</label>
          <input id="password" class="validate" type="password" name="password">
        </div>
      </div>
      <button class="btn waves-effect waves-light light-green" type="submit" name="action">Login
        <i class="material-icons right">send</i>
      </button>
    </form>

{% endblock %}
