{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="../../static/remote_pi_app/css/style1.css">
    <link rel="stylesheet" type="text/css" href="{% static '/remote_pi_app/css/style1.css' %}">
  </head>
  <body>
    <div class="container">
      <a id="logout_link" href="/users/logout">Logout</a>
      <h2>Welcome, {{ user.name }}!</h2>
      <form action="/operate_door" method="post">
        {% csrf_token %}
        {% if door_closed == True %}
        <input class="door_but open" type="submit" value="Open Garage Door">
        {% endif %}
        {% if door_closed == False %}
        <input class="door_but close" type="submit" value="Close Garage Door">
        {% endif %}
      </form>
    </div>

    {% if messages %}
      {% for msg in messages %}
        <p class="flash_msg">{{ msg }}</p>
      {% endfor %}
    {% endif %}

  </body>
</html>
