{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Welcome | Login </title>
  <!-- <link rel="stylesheet" href="../../static/remote_pi_app/css/style1.css"> -->
  <link rel="stylesheet" type="text/css" href="{% static '/remote_pi_app/css/style1.css' %}">
</head>
<body>
  <div class="container">
    <h2>Welcome!</h2>
    <p>Please login:</p>
    <form action="/users/login" method="POST">
      {% csrf_token %}
      <label for="email">E-mail:</label>
      <input type="text" name="email" id="email">
      <label for="password">Password:</label>
      <input type="password" name="password" id="password">
      <input class="login_but" type="submit" value="Login">
    </form>
      {% if messages %}
        {% for msg in messages %}
          <p class="flash_msg">{{ msg }}</p>
        {% endfor %}
      {% endif %}
  </div>
</body>
</html>
